.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.25rem;
  color: bisque;
  font-family: Helvetica, Arial, "Klee One", sans-serif;
}
.header-icon {
  padding: 0 0.5rem 0 0;
}
.header-title-group {
  text-decoration: none;
  color: bisque;
  display: flex;
  transition: transform 0.3s ease;
}
.header-title-group:hover {
  transform: scale(1.05); /* ホバー時にリンクのサイズを10%増やします */
}
.header-title {
  font-size: 2.3rem;
  font-weight: 600;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-right: 2rem;
  justify-content: space-between;
}
.nav-link-item {
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: bisque;
  font-size: 1.15rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-link-item:hover {
  transform: scale(1.1); /* ホバー時にリンクのサイズを10%増やします */
  background-color: rgba(255, 255, 255, 0.2); /* ホバー時にリンクを薄くハイライトします */
}

