.container {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: [header] 80px [middleContainer] 1fr [footer] 80px;
  grid-template-columns: [leftSidebar] 1fr [main] 5fr [rightSidebar] 1fr;
}
.background {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: -2;
  height: 100%;
}

.header {
  grid-row: header;
  grid-column: 1/-1;
}

.left-sidebar {
  grid-row: middleContainer;
  grid-column: leftSidebar;
}

.right-sidebar {
  grid-row: middleContainer;
  grid-column: rightSidebar;
}

.main {
  grid-row: 2/4;
  grid-column: main;
  display: grid;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge対応 */
  scrollbar-width: none; /* Firefox対応 */
}
/* Chrome, Safari対応 */
.main::-webkit-scrollbar{
  display: none;
}
@media (max-width: 768px) {
  .main {
    grid-row: middleContainer;
    grid-column: 1/-1;
  }
}

.footer {
  grid-row: footer;
  grid-column: 1/-1;
}
@media (min-width: 769px) {
  .footer {
    display: none;
  }
}
